html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    border: 0;
    font-size: 14px;
    font-family: 'Microsoft Yahei', '微软雅黑', '宋体', Arial;
}

body h1 {
    margin-left: 10px;
    color: white;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 1280px;
    height: 100%;
    background-color: #6d6d6d;
}

.wrapper .header {
    height: 60px;
}
.header > a {
    float: left;
    padding: 5px;
    height: 50px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 35px;
    font-family: sans-serif;
    line-height: 100%;
}
.header > a img {
    vertical-align: text-bottom;
}

.wrapper .content {
    flex: 1;
}
.wrapper .footer {
    height: 40px;
}